version: "3.8"

services:
  app:
    build: .
    ports:
      - "5000:5000"
    logging:
      driver: fluentd
      options:
        fluentd-address: localhost:24224
        tag: demo-app
    depends_on:
      - fluent-bit

  fluent-bit:
    image: fluent/fluent-bit:latest
    ports:
      - "24224:24224"
      - "8888:8888"
    volumes:
      - ./fluent-bit:/fluent-bit/etc
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=ap-northeast-2
